.backButtonImg {
    width: 120px;
}

.watchNowPlayButtonIcon {
    width: 50%;
}

.addToListButtonIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.heartButtonButtonIcon {
    width: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}